@model string

<div class="bg-dark border-end text-white" id="sidebar-wrapper">
    <div class="sidebar-heading text-center py-4 border-bottom bg-primary">
        <i class="fa-solid fa-briefcase fa-lg"></i> EteriumTech
    </div>
    <div class="list-group list-group-flush">
        <a asp-controller="Home" asp-action="Index"
           class="list-group-item list-group-item-action bg-dark text-white">
           <i class="fa-solid fa-house"></i> Inicio
        </a>

        @if (Model == "Admin")
        {
            <a asp-controller="Usuarios" asp-action="Index"
               class="list-group-item list-group-item-action bg-dark text-white">
               <i class="fa-solid fa-users"></i> Usuarios
            </a>
            <a asp-controller="Vacantes" asp-action="Index"
               class="list-group-item list-group-item-action bg-dark text-white">
               <i class="fa-solid fa-clipboard-list"></i> Vacantes
            </a>
        }
        else if (Model == "Solicitante")
        {
            
        }
    </div>
</div>