@model ReclutamientoFrontend.WebApp.Models.Dtos.UsuarioDto

@{
    ViewData["Title"] = "Detalles del Usuario";
}

<div class="container py-5">
    <h1 class="mb-4 text-info"><i class="bi bi-info-circle-fill"></i> Detalles del Usuario</h1>
    <div class="card shadow-sm">
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Nombre Completo</dt>
                <dd class="col-sm-9">@Model.NombreCompleto</dd>
                <dt class="col-sm-3">Correo Electrónico</dt>
                <dd class="col-sm-9">@Model.CorreoElectronico</dd>

            </dl>
            <div class="text-end">
                <a asp-action="Index" class="btn btn-secondary">
                    <i class="bi bi-arrow-left"></i> Regresar
                </a>
            </div>
        </div>
    </div>
</div>